a {
  color: #f7cfbf;
  text-decoration: none;
}
a:hover {
  color: #f3af94;
  text-decoration: none;
}
body {
  background-image: url("images/mountains.jpg");
  background-size: cover;
}
footer {
  text-align: center;
  font-size: 0.9em;
  color: rgba(244, 244, 244, 0.5);
  margin: -1em 12em 0em 12em;
}
h1 {
  margin-top: 30px;
  color: #ff9d72;
  margin-bottom: 0;
}
h4 {
  font-size: 20px;
}
img {
  margin: -6px -11px;
}
strong {
  color: #ff9d72;
  font-size: 2em;
}
ul {
  padding: 0;
  margin-left: 0;
  margin-bottom: 30px;
}
.btn-light {
  background: #d38bcd;
  border: none;
  color: white;
  font-weight: 600;
}
.conditions,
.daily-conditions {
  list-style: none;
  line-height: 1;
}

.consecutive-days {
  font-size: 1.5em;
  margin: 3em 2em 1.5em 2em;
  text-align: center;
}

.footer {
  color: blue;
}

.forecast-temperature {
  color: #ffffff;
  font-size: 1.05em;
  margin-bottom: 15px;
}

.forecast-temperature strong {
  color: #ffffff;
  display: inline;
  font-size: 1em;
  margin: 3px;
  margin-left: -4px;
}

.search-form {
  width: 120%;
}

.temperature {
  font-weight: 400;
  line-height: 1;
  margin: 0;
  float: left;
  margin-top: 0;
  font-size: 64px;
}
.units {
  position: relative;
  top: -4px;
}
.weather-app {
  color: rgb(244, 244, 244);
  background-image: linear-gradient(-183deg, #9e4f98 35%, #264b9d 92%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  display: block;
  margin: 60px auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 30px;
  border-radius: 15px;
  width: 60%;
  box-shadow: 8px 8px 26px rgb(32 32 32 / 57%);
}
.weather-icon {
  margin: 0 auto;
  padding: 0;
  float: left;
  width: 64px;
  height: 64px;
}
.weather-conditions .active {
  color: #ffffff;
  cursor: default;
  font-size: 20px;
  text-decoration: none;
}
.weather-conditions .active:hover {
  text-decoration: none;
}
#description {
  font-size: 22px;
  margin-top: 33px;
  margin-bottom: -15px;
}
#description:first-letter {
  text-transform: capitalize;
}
#forecast h4 {
  text-align: center;
  margin-bottom: -0.5rem;
}
